In [1]:
import geocoder
import pandas as pd

In [2]:
list_universities = ['Pamantasan ng Lungsod ng Maynila, Philippines', 
                     'Xavier University Ateneo de Cagayan']

In [3]:
result_df = []
for each_university in list_universities:
    g = geocoder.osm(each_university)
    result_json = g.json
    accuracy = result_json['accuracy']
    lat = result_json['lat']
    lon = result_json['lng']
    result_df.append([each_university,lat,lon,round(accuracy*100)])

df_geocoded = pd.DataFrame(result_df)
df_geocoded.columns = ['University','Lat','Lon','Accuracy']

In [4]:
df_geocoded

,University,Lat,Lon,Accuracy
0,"Pamantasan ng Lungsod ng Maynila, Philippines",14.586895,120.976360,98
1,Xavier University Ateneo de Cagayan,8.476620,124.647242,81

In [5]:
df_geocoded.to_excel('Data/touchpoints.xlsx')